#first {
    font-size: 8rem;
}

#second {
    font-size: 2rem;
}

.header {
    font-family: serif;
    color: azure;
    -webkit-text-stroke: 2px rgb(0, 41, 118);
    user-select: none;
}

body{
    background-image: url('https://static8.depositphotos.com/1029019/1052/i/450/depositphotos_10525934-stock-photo-magnifying-lens-on-the-laptop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.container:hover {
    border: 2px solid black;
}

hr {
    height: 5px;
    background-color: black;
}

.left, .right {
    width: 48%;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
}